body {
    font-family: Arial;
    text-align: center;
    margin-top: 50px;
}

input {
    padding: 8px;
    margin: 5px;
}

button {
    padding: 8px 15px;
    cursor: pointer;
}

h2 {
    margin-top: 25px;
}